<%- include('partials/header') -%>

<div class="body">
    <div class="image">
        <img src="../image/failure_emoji.png" alt="success emoji" />
    </div>

    <h1 id="failure">Failed!!</h1>
    <p>
        <%= failure %>
    </p>
</div>


<%- include('partials/footer') -%>