<%- include("partials/header") -%>

<div class="body">
    <div class="icon">
        <i class="far fa-user fa-4x"></i>
    </div>

    <h1>Account Verifi</h1>
    <p>Sign in to continue</p>
    <form action="/" method="post" name="login" onsubmit="return validateForm()">
        <input type="text" name="username" id="name" placeholder="Username" autocomplete="off" required><br>
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required><br>
        <button class="btn waves-effect waves-light" type="submit" name="action" id="submit">Submit
            <i class="material-icons right">send</i>
          </button><br>
          <label for="error" id="errorMessage"></label>
    </form>
</div>

<%- include("partials/footer") -%>