<%- include('partials/header') -%>

<div class="body">
    <div class="image">
        <img src="../image/success_emoji.png" alt="success emoji" />
    </div>
    <h1 id="success">Success!!</h1>
    <p>
        <%= success %>
    </p>
</div>


<%- include('partials/footer') -%>