html{
    font-size: 62.5%;
}

body {
    background: #bdc3c7;
}

.body {
    padding: 2em;
    background: #fff;
    width: 30%;
    margin: 10px auto 0;
    height: 85vh;
}

.body h1,
.body h2,
.body p {
    text-align: center;
}

.body h1 {
    margin-bottom: 2rem;
}

.body .icon {
    margin-top: 10rem;
}

.body p {
    margin-top: 0px;
    font-size: 1.4rem;
    color: #808080;
}

.icon {
    margin: 2rem;
    font-size: 1.3rem;
}

form {
    width: 100%;
    text-align: center;
}

form > * {
    margin-top: -1rem;
    padding-top: 1rem;
}

form input {
    margin-bottom: 3rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #303030;
    width: 60%;
}

form button {
    margin: 1rem;
}

#success {
    color: #53a153;
}

#failure {
    color: #ac3737;
}

#errorMessage {
    color: #db3f3f;
    font-size: 1.6rem;
}

.image {
    width: 100%;
    text-align: center;
}

.image img {
    width: 10em;
    height: 10em;
}

/* Media queries */

@media screen and (max-width: 786px) {
    .body {
        width: 100%;
        vertical-align: middle;
        height: 100vh;
    }
}